@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,500&display=swap');
/*Universal Styling*/
body {
    background-color: rgb(175, 175, 175);
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

h1 {
    text-align: center;
    font-size: 3.5rem;
    color: rgb(199, 16, 16);
}

h2 {
    font-size: 2rem;
    margin-bottom: 0;
}

.logo {
    height: 40px;
    padding-right: 5px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Modal*/
.modal {
    display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    text-align: center;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

/*Game Board*/
#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 350px;
    max-width: 100%;
}

.cell {
    width: 100px;
    height: 100px;
    border: 3px solid blue;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    background-color: white;
    justify-self: center;
    align-self: center;
}

.cell.x {
    border: 3px solid rgb(0, 0, 255);
}

.cell.o {
    border: 3px solid rgb(255, 0, 0);
}

#scoreboard {
    margin-top: 20px;
}

#player1Score,
#plpayer2Score {
    margin-right: 5px;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
}

.guide {
    margin-top: 0;
}

@media (max-width: 350px) {
    #board {
        width: 100%;
        grid-gap: 5px;
        grid-template-columns: repeat(3, 1fr);
    }

    .cell {
        width: 80%;
        padding: 3px;
        height: 80px;
        font-size: 36px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .container {
        height: auto;
        justify-content: center;
    }
}

@media (min-width: 1440px) {
    #board {
        width: 80%;
        grid-gap: 5px;
        grid-template-columns: repeat(3, 1fr);
    }

    .cell {
        width: 50%;
        padding: 3px;
        height: 160px;
        font-size: 62px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container {
        height: auto;
        justify-content: center;
    }
}